@using BookingCalculatorDemo.ViewModel
@model Tuple<GuestPayVm, IEnumerable<HotelVm>>

@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>

<body>
@using (Html.BeginForm("Post", "Booking", FormMethod.Post))
{
    <table>
        <tr>
            <th colspan="2" align="center">Person Details</th>
        </tr>
        <tr>
            <td>Name: </td>
            <td>
                <input id="Name" name="Name" type="text" value='@Model.Item1.Name'>
            </td>
        </tr>
        <tr>
            <td>Hotel Name: </td>
            <td>
                @Html.DropDownList("HotelName", new SelectList(Model.Item2, "Name", "Name", Model.Item2.Select(x => x.Name)))
            </td>
        </tr>
        <tr>
            <td>Booking Fee: </td>
            <td>
                <input id="Fee" name="Fee" type="number" value='@Model.Item1.Fee'/>
            </td>
        </tr>
        <tr>
            <td>Comission Rate: </td>
            <td>
                <input id="Comission" name="Comission" type="number" step="0.01" min="0" max="1" value='@Model.Item1.Comission' />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}
</body>